{
    "horde_root": "https://horde.koboldai.net",
    "worker_name": "XXXXXXXXXXXXXXXXXX",
    "worker_api_key": "XXXXXXXXXXXXXXXXXX",
    "advertised_model": "XXXXXXXXXXXXXXXXXX",
    "advertised_threads": 1,
    "advertised_max_length": 512,
    "advertised_max_context_length": 4096,
    "priority_usernames": [],
    "workers": 1,
    "server_port": 24499,
    "server_slots": 1,
    "server_command": "./llama.cpp/server -ngl 999 -c 4096 -m /path/to/model.gguf"
}
